<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css"
    href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css" />
  <script src="https://www.paypal.com/sdk/js?components=buttons,hosted-fields&client-id=<%= clientId %>"
    data-client-token="<%= clientToken %>"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Roboto fonts CSS -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="custom.css" type="text/css" />

</head>

<body>
  <!-- <div id="paypal-button-container" class="paypal-button-container"></div> -->
  <div class="card_container">

    <div class="powered-by">
      <img src="paypal.png" alt="PayPal Logo">
      <span style="font-size: 12px;">Powered by PayPal</span>
    </div>

    <form id="card-form">
      <label class="field-label" for="card-number">Card Number</label>
      <div id="card-number" required class="card_field"></div>
      <div class="multiple-row">
        <div>
          <label class="field-label" for="expiration-date">Expiration Date</label>
          <div id="expiration-date" required class="card_field"></div>
        </div>
        <div class="cvv-field">
          <label class="field-label" for="cvv">CVV</label>
          <div id="cvv" required class="card_field"></div>
        </div>
      </div>

      <input type="text" id="card-holder-name" name="card-holder-name" autocomplete="off" placeholder="card holder name"
        hidden />


      <div>

        <input type="text" id="card-billing-address-country" value="CA" name="card-billing-address-country"
          autocomplete="off" placeholder="country code" disabled hidden />
      </div>
      <br /><br />
      <!-- ...Your previous HTML code... -->
      <button value="submit" id="formPayButton" class="btn">
        <span class="button-text">Pay</span>
        <span class="spinner"></span>
      </button>
    </form>
  </div>
  <script src="app.js"></script>
  <script>
    // Get the form element
    const form = document.getElementById("card-form");


    // Add event listener for the "Pay" button click
    const payButton = document.getElementById("formPayButton");
    payButton.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent default button click behavior
      // Get form inputs
      const cardNumber = document.getElementById("card-number").value;
      const cardExpirationDate = document.getElementById("expiration-date").value;
      const cvv = document.getElementById("cvv").value;

      // if (cardNumber === undefined) {
      //   alert("Please enter the card number");
      //   return;
      // }

      // if (cardExpirationDate === undefined) {
      //   alert("Please enter expiration date");
      //   return;
      // }

      // if (cvv === undefined) {
      //   alert("Please enter the cvv");
      //   return;
      // }

      console.log("Succeeded");

      // Check form validity before triggering form submission
      if (form.checkValidity()) {
        form.dispatchEvent(new Event("submit")); // Trigger form submission manually
      } else {
        // If there are validation errors, show an alert or any other feedback to the user
        alert("Please fill in all the required fields correctly before proceeding with payment.");
      }
    });
  </script>
</body>

</html>