body {
     font-family: 'Poppins', sans-serif !important;
}

.btn {
     position: relative;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     padding: 10px 20px;
     background-color: #007bff;
     color: white;
     border: none;
     cursor: pointer;
     overflow: hidden;
}

.spinner {
     position: relative;
     top: 25px !important;
     /* margin-top: 0px !important; */
     /* right: -11px; */
     margin-left: -34px !important;
     width: 20px;
     height: 20px;
     border: 3px solid rgba(6, 6, 6, 0.3);
     border-radius: 50%;
     border-top-color: rgb(22, 21, 21);
     animation: spin 1s linear infinite;
     visibility: hidden;
}


.btn:disabled {
     opacity: 0.6;
     cursor: not-allowed;
}

input:disabled {
     opacity: 0.6;
     cursor: not-allowed;
}

#formPayButton {
     width: 100%;
}

.powered-by {
     margin-bottom: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.powered-by img {
     width: 120px;
     height: auto;
     margin-bottom: 10px;
}

.field-label {
     font-size: 14px;
}


@media screen and (max-width: 480px) {}


@media screen and (min-width: 480px) {
     .multiple-row {
          display: flex;
          flex-direction: row;
     }

     .cvv-field {
          margin-left: 10px;
     }
}



@keyframes spin {
     0% {
          transform: rotate(0deg);
     }

     100% {
          transform: rotate(360deg);
     }
}

.btn.loading .spinner {
     visibility: visible;
}

.btn.loading .button-text {
     visibility: hidden;
}

.card_container {
     box-sizing: border-box !important;
}